@import "../../shared/scss/config.scss";

.Container {
  margin-top: 7rem;
}
html {
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
